:root {
    --green: #00722f;
    --yellow: #FFFF99;
    --beige: #A68A64;
    --red: #FF0000;
    --orange: #FFA500;
    --blue: #0000FF;
    --dark-green: #008000;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--green);
    color: var(--yellow);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    text-decoration: none;
}

.box {
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    flex-direction: column;
    align-items: center;
}

.post-header {
    text-align: center;
    font-size: 32px;
}

.post-author {
    background: grey;
    color: var(--white);
    padding: 10px;
    font-weight: bold;
    width: 200px;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.box img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
}

.post-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
}